* { box-sizing: border-box; }
body { margin: 0 }

.home-screen {
  max-width: 500px;
  margin: 0 auto;
  background-color: red;
}
header {
  background-color: green;
}
section {
  background-color: yellow
}
